; site url
baseurl = "http://localhost/"
sitename=""
sitetagname=""
sitetheme=""
sitelogo=""
smsshortcode=""
gacode=""
googleapikey="" ; For Google maps

address=""
website=""
email=""
phone=""

; db settings
db['hostname'] = ""
db['username'] = ""
db['password'] = ""
db['database'] = ""
